@charset "utf-8";
/* CSS Document */
/* 全局样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p,table,thead,tbody,tr, th, td, i, b {
	margin:0;
	padding:0;
}
img {
	border:0px;
}
ol,ul {
	list-style:none;
}
a {
	text-decoration:none;
}
a:link, a:visited, a:active {
	color: black;
}
a:hover {
	color:red;
	text-decoration:underline;
}
body, button, input, select, textarea {
	font-size:13px;
	line-height:1.5;
}

/* 头部样式 */
.header {
	width:100%;
	height:100px;
	padding:10px 0;
	border-bottom:4px solid #f00;
}
.header-logo {
	width:200px;
	height:100px;
	float:left;
}
.header-att {
	height:80px;
	width:580px;
	float:left;
	margin:10px 0;
	margin-left:20px;
}
.header-right {
	width:280px;
	height:80px;
	float:left;
	padding:10px 0;
}
.header-right p {
	font-size:18px;
	text-align:right;
	font-weight:bold;
	margin-top:3px;
}
.header-right p span {
	color:red;
}
.right-inp {
	height:30px;
	width:260px;
	border:1px solid #f00;
	margin-left:18px;
	margin-top:10px;
}
.s_text {
	width:200px;
	height:30px;
	border:0;
	float:left;
}
.s_btn {
	width:60px;
	height:30px;
	border:0;
	float:left;
	background:#f00;
	color:#FFF;
	cursor:pointer;
}

/* 主体内容样式 */
.content {
	width:1080px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:40px;
	border:1px #ccc solid;
}
.BiaoTi
{
    width:900px;
	height:50px;
	margin:0 auto;
	text-align:center;
	font-size:30px;
	padding-left:20px;
	padding-top:20px;
	border-bottom:2px solid #ccc;
	}

.NeiRong
{
	padding:20px;
	}
.RiQi
{
   font-size:22px;
   text-align:right;
   margin-bottom:10px; 
    }
.XiangQing
{
    text-indent:inherit;
    }
.NeiRong h2{
	width:1000px;
	margin:0 auto 20px;
	text-align:center;
	font-size:30px;
	border-bottom:#CCC 4px solid;
	}
.NeiRong p{
	font-size:22px;
	text-indent:44px;
	}
/*底部样式*/
#footer {
	width:1080px;
	margin:30px auto 0 auto;
	border-top:1px solid #f00;
	padding-top:10px;
}
.footer_about {
	text-align:center;
	padding:4px 0 4px 0;
}
.footer_about ul li {
	display:inline-table;
	width:60px;
	border-left:1px solid black;
}
.footer_text {
	text-align:center;
	padding:4px 0 4px 0;
	line-height:24px;
}

