/* CSS Document */
/* 全局样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, i, b {
	margin:0;
	padding:0;
}
img {
	border:0px;
}
ol,ul {
	list-style:none;
}
a {
	text-decoration:none;
}
a:link, a:visited, a:active {
	color: black;
}
a:hover {
	color:red;
	text-decoration:underline;
}
body, button, input, select, textarea {
	font-size:12px;
	line-height:1.5;
	color: #3e3e3e;
}

/* 头部 */
#header {
	width:100%;
	height:175px;
}
.header_top {
	width:1080px;
	height:31px;
	margin:0 auto;
	line-height:31px;
}
.header_top_login{
	float:left;
}
.header_top_login li {
	display:inline;
	margin-right:8px;
}
.header_top_menu{
	float:right;
}
.header_top_menu li {
	display:inline;
	margin-right:8px;
}
.header_center {
	width:1080px;
	height:100px;
	margin:0 auto;
}
#searchkeyword{
	padding-left:10px;
	width:324px;
	}
.header_center_logo {
	float:left;
	width:200px;
	position:relative;
}
.header_center_search {
	float:right;
	width:410px;
	height:68px;
	margin:16px 0 16px 0;
}
.search_t {
	height:34px;
}
.src_input {
	float:left;
	height:34px;
	width:334px;
	border:2px solid #F00;
	color:#999;
}
.so_select {
	float:left;
	width:60px;
	height:34px;
	overflow:hidden;
	position:relative;
	z-index:50;
}
.so_select a{
	text-decoration:none;
	}
.so_select ul {
	position:absolute;
	z-index:51;
}
.so_select ul li {
	width:60px;
	height:34px;
	line-height:34px;
	text-align:center;
	background:#F9F9F9;
	color:#999;	
}
.so_select ul li:hover {
	background:#E4E4E4;
}
.sinput {
	float:left;
	height:34px;
	width:274px;
	border:0px;
}
.sbutton {
	float:left;
	width:66px;
	height:38px;
	background:#F00;
	border:2px solid #F00;
	cursor:pointer;
	font-size:14px;
}
.select_b {
	margin-top:6px;
}
.select_b a,.select_b {
	margin-right:5px;
	color:#999;
}
.select_b a:hover {
	color:#FF3300;
}
.header_bottom {
	width:1080px;
	height:38px;
	margin:0 auto;
	background:#F00;
	line-height:38px;
	font-size:16px;
	
}
.header_bottom ul li {
	display:inline-table;
	width:88px;
	text-align:center;	
}
.header_bottom ul li a {
	color:#FFF;
	font-weight:bold;
}
.header_bottom ul li:hover {
	background:#f60;
	text-decoration:none;
}
.header_bottom ul li a:hover {
	text-decoration:none;
}
.shopping_cart {
	float:right;
	width:138px;
	height:42px;
	margin:30px 0px 28px 50px;
	background:#FF9933;
	position:relative;
	border:1px solid #CCC;
}
.shopping_cart span {
	float:left;
	height:32px;
	margin:5px 0;
	text-align:center;
	line-height:32px;
	font-size:16px;
}
.shopping_cart_l {
	border-right:1px solid #CCC;
	width:90px;
	color:#FFF;
}
.shopping_cart_r {
	width:47px;
}
.cart_nav {
	width:259px;
	height:50px;
	position:absolute;
	top:42px;
	left:-148px;
	border:1px solid #CCC;
	padding:13px;
	background:#FFF;
	display:none;
}
.cart_nav ul li{
	height:25px;
}
.list_menu {
	width:139px;
	height:336px;
	float:left;
	border-left:2px solid #F00;
	border-right:2px solid #F00;
	border-top:2px solid #F00;
	border-bottom:2px solid #F00;
	margin-right:18px;
	position:absolute;
	top:173px;
	display:none;
}
.list_menu:hover {
	border-right:0;
	width:141px;
}
.list_menu_top ul li {
	width:139px;
	height:41px;
	border-bottom:1px solid #CCC;
	border-right:1px solid #F00;
	text-align:center;
	line-height:41px;
	font-size:14px;
}

.list_menu_r {
	width:338px;
	height:336px;
	border-left:0;
	border-top:2px solid #F00;
	border-bottom:2px solid #F00;
	border-right:2px solid #F00;
	position:absolute;
	top:-2px;;
	left:140px;;
	z-index:101;
	background:#FFF;
	display:none;
}
.list_menu_r span {
	margin:10px 0 0 20px;
	width:65px;
	height:25px;
	font-size:15px;
	color:#F00;
	font-weight:bold;
	float:left;
}
.list_menu_r ul {
	padding:6px 25px;
}
.list_menu_r ul li {
	list-style:inside;
	margin-bottom:8px;
}

/* 主体内容 */
#content {
	width:1080px;
	margin:6px auto auto auto;
}
.now_address {
	width:1080px;
	height:32px;
	line-height:32px;
	font-size:14px;
	margin-bottom:5px;
}
.detail {
	width:1080px;
	height:440px;
	margin-bottom:10px;
}
.tab-l {
	width:350px;
	height:350px;
	float:left;
	margin-right:40px;
	text-align:center;
	padding-top:20px;
	border:1px #ccc solid;
}

.s_Img {
	margin-top:8px;
	width:352px;
	height:63px;
}
.s_Img ul li {
	display:inline;
	float:left;
	cursor:pointer;
	width:56px;
	height:56px;
	margin-right:4px;
	padding:1px;
	border:2px solid #ddd;
}
.tab-r {
	width:688px;
	/*height:440px;*/
	float:left;
}
.tab-r h2 {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #CCC;
}
.tab-r ul {
	padding:0 15px;
	width:658px;
}
.tab-r ul li {
	display:inline-table;
	float:left;
	/*height:30px;*/
	width:658px;
	line-height:30px;
	font-size:13px;
}
.tab-r ul li span {
	float:left;
	text-align:right;
}
.tab-r ul li a {
	color:blue;
}
.xq_mc {
	width:68px;
}
.ShuMing_q
{
    font-size:22px;
    color:Red;
    }
.ShuMing_m
{
   font-size:22px; 
   width:100px;
    }
.JianJie
{
    text-align:left;
    text-indent:2em;
    font-size:14px;
    }
#mallpricel {
	color:red;
	font-weight:bold;
	font-size:22px;
}
.buychoose {
	width:658px;
	height:120px;
	background:#eee;
	padding:10px 15px;
	margin-top:10px;
}
.buyzhuyi {
	padding:0 20px;
	width:648px;
	height:30px;
	line-height:30px;
}
.buy_peisong {
	height:30px;
	line-height:30px;
	margin:5px 0 5px 4px;
}

.buy_peisong input {
	width:50px;
}
.buybtn {
	width:120px;
	height:38px;
	float:left;
	cursor:pointer;
	margin-left:165px;
	margin-right:50px;
	margin-top:40px;
}
.cartbtn {
	width:135px;
	height:38px;
	float:left;
	cursor:pointer;
	margin-top:40px;
}
.col-l {
	width:210px;
	float:left;
	margin-right:38px;
}
.rexiao {
	border:1px solid #ccc;
}
.rexiao-show ul li {
	border-bottom:1px solid #ddd;
}
.rexiao-text {
	font-size:18px;
	text-indent:8px;
	font-weight:bold;
	background:#f00;
	color:#FFF;
	border-bottom:1px solid #ddd;
	height:30px;
	line-height:30px;
}
.att_rx {
	padding:0 5px;
	padding-bottom:10px;
	display:none;
}
.att_rx h2 {
	line-height:16px;
	font-size:12px;
	margin:10px 0;
	font-weight:100;	
}
.rexiao-show ul li h4 {
	line-height:30px;
	font-size:12px;
	font-weight:100;
	height:30px;
	overflow:hidden;
	text-indent: 10px;
	display:block;
}
.att_rx h2 span {
	color:red;
	margin-left:5px;
}
.rx_a {
	border:1px solid #ddd;
	padding:2px;
	height:102px;
	float:left;
}
.fon-zi {
	color:red;
	font-size:16px;
	font-weight:bold;
}
.tonglei {
	margin-top:10px;
	border:1px solid #ccc;
}
.tonglei ul {
	padding:5px 10px;
}
.tonglei ul li {
	margin-bottom:10px;
	height:108px;
}
.tonglei ul li span{
	color:red;
	font-size:16px;
	font-weight:bold;
	margin-left:5px;
}
.tonglei ul li a,.tonglei ul li span {
	float:left;
}
.tonglei ul li a.ab {
	border:1px solid #ddd;
	padding:1px;
}
.tonglei ul li a.abc {
	width:75px;
	margin-left:7px;
}
.col-r {
	width:830px;
	border:1px solid #ddd;
	float:left;
}
.r_text {
	height:36px;
	line-height:36px;
	border-bottom:2px solid #F00;
	position:relative;

}
.r_text ul li {
	display:inline;
	float:left;
	width:125px;
	font-size:16px;
	text-align:center;
	border-right:1px solid #d9d9d9;
	cursor:pointer;
}	
.text_rig {
	width:270px;
	height:36px;
	float:right;
	text-align:right;
}
.rig_img {
	height:36px;
}
.rig_img img {
	margin-top:5px;
	cursor:pointer;
}

.shop_address {
	margin:15px;
	height:50px;
	line-height:50px;
	background:#eee;
	padding-left:15px;
}
.shop_address span {
	float:left;
	width:190px;
	text-align:center;
	overflow:hidden; /*自动隐藏文字*/
	text-overflow:ellipsis;
	white-space: nowrap;
	width:20em; /*不允许出现半汉字截断*/
}
.endcontent {
	padding-left:25px;
	margin-bottom:20px;
}


.area {
	margin-top:30px;
}
.area a {
	float:left;
	height:88px;
}
#zheyan {
	width:123px;
	height:5px;
	position:absolute;
	bottom:-5px;
	left:2px;
	z-index:5;
	background:#FFF;
}
.col1 {
	display:none;
}
.pltext {
	height:50px;
	line-height:50px;
	margin:10px 20px;
	font-size:14px;
}
.chakan {
	padding-bottom:15px;
	border-bottom:1px dashed #ccc;
}
.chakan a {
	color:blue;
	align:right;
	margin-left:20px;
}
.pl_show {
	padding:15px 20px;
}
.pl_show_t {
	height:34px;
	background:#eee;
}
.pl_show_t li {
	display:inline-table;
	float:left;
	width:130px;
	font-size:14px;
	line-height:34px;
	text-align:center;
	border-right:1px solid #FFF;
	cursor:pointer;
}
.pl_show_t li:hover {
	background:#ccc;
}
.pl_show_b {
	padding:10px 0;
	min-height:62px;
	border-bottom:1px dashed #ddd;
}
.pl_show_b li {
	min-height:30px;
}
.pl_show_b li p{
	float:left;
}
.pl_na {
	width:300px;
	height:20px;
}
.pl_ha {
	color:red;
	width:70px;
	height:20px;
}
.pl_da {
	text-align:right;
	width:400px;
}
.pl_zhanshi {
	display:none;
}

/*底部样式*/
#footer {
	width:1080px;
	margin:0px auto 0 auto;
	background:#F0F0F0;
	padding-top:10px;
}
.footer_about {
	text-align:center;
	padding:4px 0 4px 0;
}
.footer_about ul li {
	display:inline-table;
	width:60px;
	border-left:1px solid black;
}
.footer_text {
	text-align:center;
	padding:4px 0 4px 0;
	line-height:24px;
}
.footer_imgs {
	width:1080px;
	height:51px;
	text-align:center;
	margin:5px 0 6px 0;
}

/*回到顶部、意见反馈 */
#amd-gotop {
	width:46px;
	height:93px;
	position:fixed;
	bottom:45px;
	right:10px;
	border:1px solid #CCC;
}
.gettop {
	width:46px;
	height:46px;
	float:left;
	border-bottom:1px solid #CCC;
	background:url(../TuPian/gettop.jpg);
}
.gettop:hover {
	background:url(../TuPian/gotop.jpg);
}
.report {
	width:46px;
	height:46px;
	float:left;
	background:url(../TuPian/report.jpg);
}
.report:hover {
	background:url(../TuPian/jianyi.jpg);
}



